* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

#top {
        display: flex;
        justify-content: space-between;
        height: 2.7em;
        background-color: #ffc600;
        font-size: 1.5em;
}

.icon-m {
        margin-left: 20px;
}

#imglogo {
        margin-top: 7px;
        margin-right: 20px; 
}

#logo {
        position: relative;
        z-index: 99999999999;
}

#login {
        margin-right: 40px;
}
div > div.normal {
        display: flex;
        align-items: center;
}
/*===================================================================================================================
                                                INICIO - NAV 
==================================================================================================================*/

.cor-lm {
        color: #ffffff;
        text-decoration: none;
}

nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        font-size: 1.5em;
        height: 2em;
        background-color: #7d0093;
}

nav ul > li.normal {
        display: flex;
        align-items: center;
}

li.normal a {
        padding: 5px 80px;
        border-radius: 10px
}

li.normal a:hover {
        background: #ffc600;
        color: #000000;
}

.parte {
        width: 500px;
        position: relative;
        border-top: 1.95em solid #ffc600;
        border-left: 2em solid transparent;
        border-right: 2em solid transparent;
}

.parte1 {
        width: 407px;
        position: relative;
        height: 0.1em;
        border: 0.1em solid #ffc600;
        border-radius: 0 0 50px 50px;
        left: 46.5px;
        top: -3.5px;
}



/*===================================================================================================================
                                                     FIM - NAV 
 ==================================================================================================================*/


 /*===================================================================================================================
                                                INICIO - BANNER 
 ==================================================================================================================*/

.texto-banner {
        background-image: url(img/banner1-editado.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 536px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

/*===================================================================================================================
                                                FIM - BANNER 
 ==================================================================================================================*/




 /*===================================================================================================================
                                                INICIO - CALENDARIO 
 ==================================================================================================================*/
#area-do-calendario {
        background-color: #7d0093;
}



.text-comeco-calendario {
        margin: 10px;
        font-size: 1.5em;
}

.mes {
        display: flex;
        justify-content: center;
}

.text-mes {
        margin: 10px 30px;
        font-size: 1.4em;
}

/* calendario tabela */

 #calendario-tabela {
        display: flex;
        justify-content: center;
}
table {
        text-align: center;
        width: 700px;
        height: 400px;
        margin: 5px;
        background-color: #000000;
}

th {
        background-color: #ffffff;
}

td {
        background-color: #ffffff;
}
/* legenda tabela */

#legenda-do-calendario {
        display: flex;
        justify-content: center;
}

#legenda-1 {
        display: flex;
        margin: 10px 40px;
}

.quadrado {
        background: #7d0093;
        width: 20px;
        height: 20px;
        border: 2px solid #000000;
}

.text-legend {
        font-size: 1.2em;
        padding: 0 10px;
}

#legenda-2 {
        display: flex;
        margin: 10px 40px;
}

.quadrado-1 {
        background-color: #ffffff;
        width: 20px;
        height: 20px;
        border: 2px solid #000000;
}


 /*===================================================================================================================
                                                FIM - CALENDARIO 
 ==================================================================================================================*/


/*===================================================================================================================
                                                INICIO - MAPA 
 ==================================================================================================================*/
#area-do-mapa {
        background-color: #7d0093;
}

 #mapa {
         display: flex;
         justify-content: center;
         padding: 10px;
 }

 #mapa-endereco {
         display: flex;
         justify-content: center;
         padding: 10px 0;
         font-size: 1.3em;
 }
 #icon-maps {
         color: #000000;
         padding: 0 10px;
 }

/*===================================================================================================================
                                                FIM - MAPA 
 ==================================================================================================================*/


/*===================================================================================================================
                                                INICIO - FOOTER 
 ==================================================================================================================*/

 footer {
         background-color: #000000;
         display: flex;
         justify-content: space-around;
 }

 #icon-tel {
         color: #ffffff;
         padding: 10px;
         display: flex;
         align-items: center;
 }

 #icon-email {
         color: #ffffff;
         padding: 10px;
         display: flex;
         align-items: center;
 }

 #icon-face {
         color: #ffffff;
         padding: 10px;
         display: flex;
         align-items: center;
 }

 .rodape-text {
         padding: 10px;
 }

 /*===================================================================================================================
                                                FIM - FOOTER 
 ==================================================================================================================*/